<!-- The Side Bar -->

<div id="sidebar" class="d-flex flex-column align-items-end">
  <div class="profile-wrapper text-center">
    <div id="avatar">
      <a href="{{ '/' | relative_url }}" class="mx-auto">
        {% if site.avatar != empty and site.avatar %}
          {% capture avatar_url %}
            {% if site.avatar contains '://' %}
              {{ site.avatar }}
            {% elsif site.img_cdn != empty and site.img_cdn %}
              {{ site.avatar | prepend: site.img_cdn }}
            {% else %}
              {{ site.avatar | relative_url }}
            {% endif %}
          {% endcapture %}
          <img src="{{ avatar_url | strip }}" alt="avatar" onerror="this.style.display='none'">
        {% endif %}
      </a>
    </div>

    <div class="site-title">
      <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
    </div>
    <div class="site-subtitle font-italic">{{ site.tagline }}</div>
  </div>
  <!-- .profile-wrapper -->

  <ul class="w-100 extra-lpad">
    {% for doc in site.docs %}
      {% if doc.folder %}
        <li class="nav-item">
          <input type="checkbox" id="{{ doc.order }}">
          <label for="{{ doc.order }}" class="nav-item">
            <a class="nav-link"><span>{{ doc.bookmark | default: doc.title }}</span></a>
          </label>
          <ul class="w-100">
      {% elsif doc.close %}
          </ul>
        </li>
      {% else %}
        <li class="nav-item{% if doc.url == page.url %}{{ " active" }}{% endif %}">
          <a href="{{ doc.url | relative_url }}" class="nav-link">
            <span>{{ doc.bookmark | default: doc.title }}</span>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  <!-- ul.nav.flex-column -->

  <div class="sidebar-bottom mt-auto d-flex flex-wrap justify-content-center align-items-center">
    {% unless site.theme_mode %}
      <button class="mode-toggle btn" aria-label="Switch Mode">
        <i class="fas fa-adjust"></i>
      </button>

      {% if site.data.contact.size > 0 %}
        <span class="icon-border"></span>
      {% endif %}
    {% endunless %}
  </div>
  <!-- .sidebar-bottom -->
</div>
<!-- #sidebar -->
