<!-- The Side Bar -->

<div id="sidebar" class="d-flex flex-column align-items-end">
  <div class="profile-wrapper text-center">
    <div id="avatar">
      <a href="{{ '/' | relative_url }}" class="mx-auto">
        {% if site.avatar != empty and site.avatar %}
          {% capture avatar_url %}
            {% if site.avatar contains '://' %}
              {{ site.avatar }}
            {% elsif site.img_cdn != empty and site.img_cdn %}
              {{ site.avatar | prepend: site.img_cdn }}
            {% else %}
              {{ site.avatar | relative_url }}
            {% endif %}
          {% endcapture %}
          <img src="{{ avatar_url | strip }}" alt="avatar" onerror="this.style.display='none'">
        {% endif %}
      </a>
    </div>

    <div class="site-title">
      <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
    </div>
    <div class="site-subtitle font-italic">{{ site.tagline }}</div>
  </div>
  <!-- .profile-wrapper -->

  <ul class="w-100 extra-lpad">
    {% for doc in site.docs %}
      {% if doc.separator %}
        <hr>
      {% endif %}
      {% if doc.open_folder %}
        <li class="nav-item">
          <input type="checkbox" id="{{ doc.order }}" class="doc-folder" onclick="saveDocumentListExpansion(this)">
          <label for="{{ doc.order }}" class="nav-item">
            <a class="nav-link">
              <i class="fa-solid fa-folder"></i>
              <span>
                {{ doc.bookmark | default: doc.title }}
              </span>
              {% if doc.version %}
              <br>
              <span class="ml-4">
                <em>v{{ doc.version }}</em>
              </span>
              {% endif %}
            </a>
          </label>
          <ul class="w-100">
      {% elsif doc.close_folder %}
          </ul>
        </li>
      {% else %}
        <li class="nav-item{% if doc.url == page.url %}{{ " active" }}{% endif %}">
          <a href="{{ doc.url | relative_url }}" class="nav-link">
            <i class="fa-solid fa-file fa-margin-adjust"></i>
            <span>{{ doc.bookmark | default: doc.title }}</span>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  <!-- ul.nav.flex-column -->

  <div class="sidebar-bottom mt-auto d-flex flex-wrap justify-content-center align-items-center">
    {% unless site.theme_mode %}
      <button class="mode-toggle btn" aria-label="Switch Mode">
        <i class="fas fa-adjust"></i>
      </button>

      {% if site.data.contact.size > 0 %}
        <span class="icon-border"></span>
      {% endif %}
    {% endunless %}
  </div>
  <!-- .sidebar-bottom -->
</div>

<script>

function saveDocumentListExpansion(checkbox) {
  const checkboxes = $('.doc-folder');
  const data = checkboxes.toArray().reduce((obj, cur) => (obj[cur.id] = cur.checked, obj), {});
  const content = JSON.stringify(data);
  setCookie('expansion', content, 1);

  setIcon(checkbox, checkbox.checked);
}

function loadDocumentListExpansion() {
  const checkboxes = $('.doc-folder');
  const byId = checkboxes.toArray().reduce((obj, cur) => (obj[cur.id] = cur, obj), {});
  const cookie = getCookie('expansion');

  const data = JSON.parse(cookie);
  for (var key of Object.keys(data)) {
    var checkbox = byId[key];
    var newState = data[key];
    setIcon(checkbox, newState);
    checkbox.checked = newState;
  }
}

function setIcon(checkbox, newState) {
  var icon = $(checkbox).parent().find('i').first();
  if (newState) {
    icon.removeClass('fa-folder');
    icon.addClass('fa-folder-open')
  } else {
    icon.removeClass('fa-folder-open');
    icon.addClass('fa-folder');
  }
}

function setCookie(cname, cvalue, exdays) {
  const d = new Date();
  d.setTime(d.getTime() + (exdays*24*60*60*1000));
  let expires = "expires="+ d.toUTCString();
  document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
}

function getCookie(cname) {
  let name = cname + "=";
  let decodedCookie = decodeURIComponent(document.cookie);
  let ca = decodedCookie.split(';');
  for(let i = 0; i <ca.length; i++) {
    let c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) {
      return c.substring(name.length, c.length);
    }
  }
  return "";
}

$(document).ready(loadDocumentListExpansion);

</script>
<!-- #sidebar -->

