---
---

/*
  If the number of TAB files has changed, the following variable is required.
  And it must be defined before `@import`.
*/
$tab-count: {{ site.tabs | size | plus: 1 }}; // plus 1 for home tab

@import "{{ site.theme }}";

/* append your custom style below */

#topbar-wrapper {
  background-color: #201d2d;
}

#sidebar {
  background: radial-gradient(circle, #6800B7 0%, #1d1f27 100%);
}

#sidebar #avatar>a {
  border: none;
}

#sidebar #avatar img:hover {
  -webkit-transform: none;
  transform: none;
}

#sidebar .sidebar-bottom .mode-toggle, #sidebar a {
  color: rgba(184, 184, 184, 0.9);
  text-shadow: 1px 1px #1d1f27;
}

#sidebar .sidebar-bottom .mode-toggle, #sidebar a :hover {
  color: white;
  transition: color .35s ease-in-out;
}

/* Custom tooltips for mode toggle */
.tooltip-icon {
  position: relative;
}

.tooltip-text {
  visibility: hidden;
  position: fixed;
  z-index: 999;
  min-width: 200px;
  max-width: 400px;
  font-size: 14px;
  background-color: #271a3b;
  border-radius: 5px;
  padding: 10px;
  pointer-events: none;
  color: rgb(175, 176, 177);
}

.tooltip-icon:hover .tooltip-text {
  visibility: visible;
}

.header-tooltip {
  position: absolute;
  top: 30px;
  transform: translateX(-65%);
  text-wrap: nowrap;
  max-width: none;
}

html[data-mode="light"] .header-tooltip {
  background-color: #271a3b;
  color: rgb(175, 176, 177);
}

#sidebar .nav-item {
  height: 1rem;
  line-height: normal;
  text-align: inherit;
}

#sidebar ul {
  padding-left: 1rem;
  height: auto;
}

#sidebar .extra-lpad{
  padding-left: 2.5rem;
}

#sidebar label {
  display: block;
  margin-bottom: 0;
}

#sidebar hr {
  display: block;
  height: 1px;
  width: 85% !important;
  border: 0;
  border-top: 1px solid rgba(184, 184, 184, 0.9);
  margin: 1em 0;
  padding: 0;
}

img {
  border-radius: 10px;
}

input[type="checkbox"]{
  position: absolute;
  left: -9999px;
}

input[type="checkbox"] ~ ul{
  height: 0 !important;
  transform: scaleY(0);
}

input[type="checkbox"]:checked ~ ul{
  height: 100% !important;
  transform-origin: top;
  transform: scaleY(1);
}

.fa-center-icon {
  width: 17px;
  text-align: center;
}

a i {
  margin-right: 3px;
}

.table-wrapper>table tbody tr td, .table-wrapper>table thead th {
  white-space: normal;
}
