---
---

/*
  If the number of TAB files has changed, the following variable is required.
  And it must be defined before `@import`.
*/
$tab-count: {{ site.tabs | size | plus: 1 }}; // plus 1 for home tab

@import "{{ site.theme }}";

/* append your custom style below */

#topbar-wrapper {
  background-color: #201d2d;
}

#sidebar {
  background: radial-gradient(circle, #6800B7 0%, #1d1f27 100%);
}

#sidebar #avatar>a {
  border: none;
}

#sidebar #avatar img:hover {
  -webkit-transform: none;
  transform: none;
}

#sidebar .sidebar-bottom .mode-toggle, #sidebar a {
  color: rgba(184, 184, 184, 0.9);
  text-shadow: 1px 1px #3f3944;
}

#sidebar .sidebar-bottom .mode-toggle, #sidebar a :hover {
  color: white;
  transition: color .35s ease-in-out;
}

#sidebar .nav-item {
  height: 1rem;
  line-height: normal;
  text-align: inherit;
}

#sidebar ul {
  padding-left: 1rem;
  height: auto;
}

#sidebar .extra-lpad{
  padding-left: 2.5rem;
}

#sidebar label {
  display: block;
  margin-bottom: 0;
}

#sidebar hr {
  display: block;
  height: 1px;
  width: 85% !important;
  border: 0;
  border-top: 1px solid rgba(184, 184, 184, 0.9);
  margin: 1em 0;
  padding: 0;
}

img {
  border-radius: 10px;
}

input[type="checkbox"]{
  position: absolute;
  left: -9999px;
}

input[type="checkbox"] ~ ul{
  height: 0 !important;
  transform: scaleY(0);
}

input[type="checkbox"]:checked ~ ul{
  height: 100% !important;
  transform-origin: top;
  transform: scaleY(1);
}

